{% extends "images/generic.html" %}
{% block content %}
    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <h1 class="major">Hobbies</h1>
            <h3>Brazilian Jiu Jitsu</h3>
            <p>I started with BJJ in 2017 and been hooked since. You forget about world around you and focus to one thing for 100%. I just love the sport.</p>
            <h3>Stargazing</h3>
            <p>Not many things put you back in place like clear sky and telescope.</p>
            <h3>Books</h3>
            <p>I love fantasy and SciFi books. </p>
        </div>
    </section>
{% endblock %}