{% extends "images/generic.html" %}
{% block content %}
    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <h1 class="major">Hobbies</h1>
            <h3><a href="https://www.youtube.com/watch?v=LUmgrve1sZc">Brazilian Jiu Jitsu</a></h3>
            <p>I started with BJJ in 2017 and been hooked since then. Still  being more often nail than hammer, but I love the sport regardless. You forget about world around you and focus to one thing for 100%</p>
            <h3>Stargazing</h3>
            <p>Not many things put you back in place like clear sky and small telescope.</p>
            <h3>Books</h3>
            <p>I love fantasy and SciFi books. </p>
        </div>
    </section>
{% endblock %}